.header-row{
  display: grid;
  grid-template-columns: 170px 1fr;
  overflow: hidden;
  padding-left: 10px;
  height: 80px;
  gap: 15px;
}

.split-navbar-row {
  position: fixed;
  height: 100vh;
}

.navbar-row{
  grid-column-start: 2;
}

.charts {
  margin-top: 20px;
  margin-left: 13%;
  margin-right: 1.2%;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

 .default-charts {
   background-color: #DCF2F1;
 }

 .light-charts {
   background-color: #F7EFE5;
 }

 .dark-charts {
   background-color: #443C68;
 }




 .default-mainBG {
   background-color: #7FC7D9;
 }

 .light-mainBG {
   background-color: #FFFBF5;
 }

 .dark-mainBG {
   background-color: #393053;
 }


 @media screen and (max-width: 600px) {
  .header-row {
    grid-template-columns: 1fr;
  }
  .navbar-row {
    grid-column-start: 1;
    width: 100%;
    position: fixed;
    padding-right: 20px;
    z-index: 1;
  }
  .split-navbar-row {
    display: none;
  }
}

 /* For screens smaller than 600px wide */
@media screen and (max-width: 600px) {
  .charts {
    margin-left: 6%;
    margin-right: 6%;
  }
}

/* For screens smaller than 400px wide */
@media screen and (max-width: 400px) {
  .charts {
    margin-left: 2%;
    margin-right: 2%;
  }
}