.default-sidebar {
    background-color: #365486;
}

.default .Nav-Element {
    color: #fff;
}

.default .Nav-Element:hover {
    color: #0F1035;
}


.light-sidebar {
    background-color: #C3ACD0;
}

.light .Nav-Element {
    color: #000;
}

.light .Nav-Element:hover {
    color: #9e9e9e;
}


.dark-sidebar {
    background-color: #18122B !important;
}

.dark .Nav-Element {
    color: #fff;
}

.dark .Nav-Element:hover {
    color: #757575;
}


.sidebar-body {
    width: fit-content;
    padding: 20px;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: fixed;
    margin-top: 1.4%;
    margin-left: 0.8%;
    height: calc(100vh - 18%);
}

.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.Nav-Element {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding-right: 5px;
}

.nav-container-shrinked {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.sidebar-body.open {
    width: 50%;
}



@media (max-width: 600px) {
    .hamburger-menu {
        display: block;
    }

    .nav-container {
        display: none;
    }

    .sidebar-body {
        margin-left: 10px;
        padding-right: 50px;
        width: 2%;
        height: auto;
        z-index: 1;
    }

    .nav-container-shrinked {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .Nav-Element {
        margin-bottom: 5px;
    }
}